<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Chatty</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- <meta property="og:image" content="path/to/image.jpg"> -->

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<!-- <style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>
 -->
</head>

<body>

<div class="chat-container clearfix">
	<aside class="user-list js-user-list">
		<a href="#1" class="toggle-btn js-toggle-btn"><span></span></a>
		<div class="user-list__header">

			<div class="header__top-line clearfix">
				<div class="user-list__header-logo">
					<img src="img/logo.svg" alt="Logo">
				</div>
				<div class="user-list__edit">
					<a href="#1" class="user__account">user</a>
					<a href="#1" class="user__edit">edit</a>
				</div>
			</div>

			<div class="user-list__search">
				<form action="/">
					<input class="search-field" type="search" placeholder="Search for user">
					<button type="submit" class="search-btn">search</button>
				</form>
			</div>

		</div>

		<ul class="chat-list">

			<li>
				<a href="#1" class="chat-list__item clearfix">
					<div class="chat-list__item-img">
						<img src="img/ava.jpg" alt="ava">
					</div>
					<div class="chat-list__item-text">
						<div class="chat-list__user-name">
							Grag Tomson
							<span class="user-online"></span>
						</div>
						<div class="chat-list__user-text">
							<p>Let's go to have coffee...</p>
						</div>
					</div>
					<span class="chat-list__user-time">15m ago</span>
					<span class="chat-list__message-count">3</span>
					</a>
			</li>

			<li>
				<a href="#1" class="chat-list__item clearfix">
					<div class="chat-list__item-img">
						<img src="img/ava.jpg" alt="ava">
					</div>
					<div class="chat-list__item-text">
						<div class="chat-list__user-name">
							Grag Tomson
							<span class="user-online  user-online--hidden"></span>
						</div>
						<div class="chat-list__user-text">
							<p>Let's go to have coffee...</p>
						</div>
					</div>
					<span class="chat-list__user-time">15m ago</span>
					<span class="chat-list__message-count  chat-list__message-count--hidden">3</span>
				</a>
			</li>

			<li>
				<a href="#1" class="chat-list__item clearfix">
					<div class="chat-list__item-img">
						<img src="img/ava.jpg" alt="ava">
					</div>
					<div class="chat-list__item-text">
						<div class="chat-list__user-name">
							Grag Tomson
							<span class="user-online  user-online--hidden"></span>
						</div>
						<div class="chat-list__user-text">
							<p>Let's go to have coffee...</p>
						</div>
					</div>
					<span class="chat-list__user-time">15m ago</span>
					<span class="chat-list__message-count  chat-list__message-count--hidden">3</span>
				</a>
			</li>

			<li>
				<a href="#1" class="chat-list__item clearfix">
					<div class="chat-list__item-img">
						<img src="img/ava.jpg" alt="ava">
					</div>
					<div class="chat-list__item-text">
						<div class="chat-list__user-name">
							Grag Tomson
							<span class="user-online  user-online--hidden"></span>
						</div>
						<div class="chat-list__user-text">
							<p>Let's go to have coffee...</p>
						</div>
					</div>
					<span class="chat-list__user-time">15m ago</span>
					<span class="chat-list__message-count  chat-list__message-count--hidden">3</span>
				</a>
			</li>

			<li>
				<a href="#1" class="chat-list__item clearfix">
					<div class="chat-list__item-img">
						<img src="img/ava.jpg" alt="ava">
					</div>
					<div class="chat-list__item-text">
						<div class="chat-list__user-name">
							Grag Tomson
							<span class="user-online  user-online--hidden"></span>
						</div>
						<div class="chat-list__user-text">
							<p>Let's go to have coffee...</p>
						</div>
					</div>
					<span class="chat-list__user-time">15m ago</span>
					<span class="chat-list__message-count  chat-list__message-count--hidden">3</span>
				</a>
			</li>

			<li>
				<a href="#1" class="chat-list__item clearfix">
					<div class="chat-list__item-img">
						<img src="img/ava.jpg" alt="ava">
					</div>
					<div class="chat-list__item-text">
						<div class="chat-list__user-name">
							Grag Tomson
							<span class="user-online  user-online--hidden"></span>
						</div>
						<div class="chat-list__user-text">
							<p>Let's go to have coffee...</p>
						</div>
					</div>
					<span class="chat-list__user-time">15m ago</span>
					<span class="chat-list__message-count  chat-list__message-count--hidden">3</span>
				</a>
			</li>

			<li>
				<a href="#1" class="chat-list__item clearfix">
					<div class="chat-list__item-img">
						<img src="img/ava.jpg" alt="ava">
					</div>
					<div class="chat-list__item-text">
						<div class="chat-list__user-name">
							Grag Tomson
							<span class="user-online  user-online--hidden"></span>
						</div>
						<div class="chat-list__user-text">
							<p>Let's go to have coffee...</p>
						</div>
					</div>
					<span class="chat-list__user-time">15m ago</span>
					<span class="chat-list__message-count  chat-list__message-count--hidden">3</span>
				</a>
			</li>

		</ul>
	</aside>

	<div class="post-list js-post-list">
		<div class="post-list__header clearfix">

			<div class="post-header__user">
				<div class="post-header__user-name">
					Grag Tomson
				</div>
				<div class="post-header__last-seen">
					last seen <span>1h</span> ago
				</div>
			</div>

			<div class="post-list__user">
				<div class="post-list__search">
					<form action="/" class="js-post-form">
						<input class="search-field  search-field--post  js-search-field-post" type="search" placeholder="Search for user">
						<button type="button" class="search-btn  search-btn--post  js-search-btn-post">search</button>
					</form>
				</div>
				<div class="post-list__menu">
					<a href="#1" class="post-list__menu-btn">menu</a>
				</div>
			</div>

		</div>

		<div class="post-list__footer">
			<div class="message-form">
				<form action="/" class="js-message-form">
					<input type="file" class="add-file" id="add-file" multiple>
					<label for="add-file" class="label-for-file"></label>
					<div class="message-field__wrapper">
						<textarea name="message-field" id="message-field" placeholder="Type something"></textarea>
						<button type="button" class="emodzi">emodzi</button>
					</div>
					<input type="submit" value="Send" class="send-message-btn">
				</form>
			</div>
		</div>

	</div>

</div>




	<link rel="stylesheet" href="css/style.min.css">
	<script src="js/scripts.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
